.cube-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  perspective:1000px;
  background:#222;
}

#cube {
  width: 100vw;
  height: 100vh;
  position: absolute;
  transform-style: preserve-3d;
}

#cube figure {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: absolute;
  background:#222;
  color:white;
}

#cube .front  { transform: rotateY(   0deg ) translateZ( 50vw ); background: #F6EEE3; color: #222222;}
#cube .back   { transform: rotateY( 180deg ) translateZ( 50vw ); background: gold; color: #222222;}
#cube .right  { transform: rotateY(  90deg ) translateZ( 50vw ); background: dodgerblue; color: #222222;}
#cube .left   { transform: rotateY( -90deg ) translateZ( 50vw ); background: cadetblue; color: #222222;}

#cube { transform: translateZ( -50vw ); }

#cube { transition: transform 1.5s ease-in-out;}

div.section-content{
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  width: 100%;
  overflow-y: scroll;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  .content{
    padding: 2em;
  }
  header, .footer, .content {
    padding: 2em;
  }
  .scroller{
    padding: 12vh 0em;
    margin: auto 2em;
  }
}

@media screen and (min-width:767px){
  div.section-content .content.scroller{
      padding: 12vh 0em;
      margin: auto 8em;
  }
  .back{
    div.footer{
      display: block;
    }
  }
}

.back{
  .footer{
    display: none;
    backdrop-filter: blur(10px);
  }
}

@media screen and (min-width: 767px){
  .footer{
    position: fixed;
    height: 12vh;
    bottom: 0;
    border-top: 1px solid #222222;
    width: 100%;
  }

  div.section-content .content{
    padding: 2em 8em;
  }
}
